<?xml version="1.0" encoding="UTF-8"?>

<!--- TestNG XML example to execute Multiple Classes -->


<suite name="example suite 1" verbose="1" >
  <listeners>
        <listener class-name="testng.testngAnnotation.retry.RetryListener"/>
  </listeners>
  <test name="Regression suite 1" >
    <classes>
      <class name="testng.testngAnnotation.retry.TestNGExampleTests"/>
    </classes>
 </test>
</suite>
