<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!--- Logging with TestNG using Listeners -->

<suite name="Log Suite Example" verbose="1">
	<listeners>
		<listener class-name="testng.testngxml.Listeners.ListenerClass" />
	</listeners>

	<test name="TestNG logs sample" preserve-order="true">
		<classes>
			<class name="testng.testngxml.Listeners.LoggingClass">
				<methods>
					<include name="methodAddingNumbers" />
					<include name="dividedByZero" />
					<include name="methodSkip" />
				</methods>
			</class>
		</classes>
	</test>

</suite>