<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="roller" class="org.apache.log4j.RollingFileAppender">
	<param name="maxFileSize" value="1MB" />
	 <param name="MaxBackupIndex" value="2"/>
		<param name="File" value="Applicationlog.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MMM-dd HH:mm:ss,SSS} [%t] %c %x%n  %-5p %m%n" />
		</layout>
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="roller" />
	</root>
</log4j:configuration>